{{ ansible_managed  | comment }}

[Unit]
Description=Codekvast {{ service_name | capitalize }}
After=syslog.target

[Service]
User=codekvast
WorkingDirectory=/opt/codekvast/{{ service_name }}
ExecStart=/bin/sh -c "java \
                      -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address={{ ports[service_name].jvm_debugger }} \
                      -showversion \
                      -enableassertions \
                      -jar /opt/codekvast/{{ service_name }}/codekvast-{{ service_name }}-{{ codekvastVersion }}-all.jar \
                      -javaagent:/opt/codekvast/codekvast-javaagent-{{ codekvastVersion }}.jar \
                      -Dcodekvast.configuration=/opt/codekvast/{{ service_name }}/codekvast-agent.properties \
                      --add-modules java.sql \
                      > /dev/null"
KillMode=control-group
SuccessExitStatus=143
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
