<div class="container">
    <h2>Status</h2>
    <div class="d-flex flex-row align-items-start justify-content-between">

        <h5 *ngIf="!state.data" class="text-secondary text-muted">Waiting for status data...</h5>

        <div *ngIf="state.data">
            <h4>Plan {{ state.data.pricePlan }} Limits</h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="w-50">Number of {{ getAgentsLabel() }} (max={{ state.data.maxNumberOfAgents }}):</td>
                    <td class="w-50">
                        {{ agentsProgressValue() }}<br>
                        <ngb-progressbar [showValue]="true"
                                         [type]="progressBarType2(state.data.numLiveAgents, state.data.maxNumberOfAgents)"
                                         [value]="toPercent(state.data.numLiveAgents, state.data.maxNumberOfAgents)"></ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Number of methods (max={{ state.data.maxNumberOfMethods }}):</td>
                    <td>
                        {{state.data.numMethods}}<br>
                        <ngb-progressbar [showValue]="true" [type]="progressBarType2(state.data.numMethods, state.data.maxNumberOfMethods)"
                                         [value]="toPercent(state.data.numMethods, state.data.maxNumberOfMethods)">

                        </ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Collected since:</td>
                    <td>{{ state.data.collectedSinceMillis | ckAge:settings.dateFormat }}</td>
                </tr>
                <tr *ngIf="state.data.trialPeriodEndsAtMillis">
                    <td>Trial period ends:</td>
                    <td>
                        {{ state.data.trialPeriodEndsAtMillis | ckAge:settings.dateFormat }}<br>
                        <ngb-progressbar [showValue]="false"
                                         [type]="progressBarType(state.data.trialPeriodPercent)"
                                         [value]="state.data.trialPeriodPercent">
                            {{ trialPeriodProgressText(state.data.trialPeriodPercent) }}
                        </ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Collection resolution:</td>
                    <td>{{ collectionResolution() }}</td>
                </tr>
            </table>
        </div>
        <div class="d-flex flex-column">
            <ck-settings-editor></ck-settings-editor>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Auto-refresh every</span>
                </div>
                <input class="form-control"
                       id="refreshInterval"
                       type="number"
                       required
                       min="10"
                       max="3600"
                       [(ngModel)]="state.refreshIntervalSeconds"
                       (change)="state.updateRefreshTimer()"/>
                <div class="input-group-append">
                    <span class="input-group-text">s</span>
                    <span class="input-group-btn">
                        <button class="btn" (click)="state.toggleAutoRefresh()" title="{{state.autoRefreshButtonText()}}">
                            <i [ngClass]="state.autoRefreshButtonClasses()" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div *ngIf="state.data">
                <small class="ml-2 col-form-label form-text text-muted">{{ state.data.timestamp | ckAge:settings.dateFormat }} Refreshed
                    status in {{ state.data.queryTimeMillis }} ms
                </small>
            </div>

            <div *ngIf="state.errorMessage" class="alert alert-danger" role="alert" title="{{ state.errorMessage }}">
                {{ state.communicationFailure() }}
            </div>
        </div>
    </div>

    <ng-template #deleteModalTemplate let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Delete Terminated Agents</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card mb-2">
                <div class="card-body">
                    <p>Codekvast is about collecting historic usage data for your applications to assist decision making,
                        so <em>deleting historic data can make Codekvast less valuable</em>.</p>
                    Don't delete terminated agents unless there is a good reason!
                </div>
            </div>
            <p>Examples of when it can be okay to delete terminated {{ getAgentsLabel() }}:</p>
            <ul>
                <li>You have made refactorings that make historic data useless or misleading.</li>
                <li>You have made changes to <code>codekvast.conf</code>, specifically changed <code>appName</code>, <code>appVersion</code>
                    or <code>environment</code>.
                </li>
                <li>You have used Codekvast for longer time than your application's usage cycle.</li>
                <li>You have retired an application or environment.</li>
            </ul>
            <hr>
            <div class="alert alert-danger" role="alert">
                Delete all data collected by {{ state.numSelectedTerminatedAgents() }} terminated {{ getAgentsLabel() }}?<br>
                There is no way to restore once deleted data.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="d('cancel')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="c('delete')">Yes, Delete</button>
        </div>
    </ng-template>

    <div *ngIf="state.data">
        <h4 class="text-capitalize">{{ getAgentsLabel() }}</h4>
        <div class="form-inline mb-2" [class.invisible]="state.numTerminatedAgents() === 0">
            <input id="showTerminatedAgents" type="checkbox" [(ngModel)]="state.showTerminatedAgents">
            <label class="ml-1" for="showTerminatedAgents">Show {{ state.numTerminatedAgents() }} terminated {{ getAgentsLabel() }}</label>
            <div class="input-group col-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text">Select terminated agents older than</span>
                </div>
                <input class="form-control"
                       id="terminatedDays"
                       type="number"
                       required
                       min="0"
                       max="3650"
                       [(ngModel)]="state.selectTerminatedAgentsOlderThanDays"/>
                <div class="input-group-append">
                    <span class="input-group-text">days</span>
                </div>
                <button class="ml-3 btn btn-outline-secondary btn-sm" (click)="state.selectOldTerminatedAgents()">
                    Select
                </button>
            </div>
            <button class="ml-3 btn btn-outline-secondary btn-sm" [disabled]="state.numSelectedTerminatedAgents() === 0"
                    (click)="state.openDeleteModal(deleteModalTemplate)">Delete {{ state.numSelectedTerminatedAgents() }} selected
                terminated agents...
            </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="align-top">
                    Application<br>
                    <input class="form-control form-control-sm" size="8" type="text" [(ngModel)]="state.applicationFilter"
                           placeholder="Filter by app">
                </th>
                <th class="align-top">
                    Environment<br>
                    <input class="form-control form-control-sm" size="8" type="text" [(ngModel)]="state.environmentFilter"
                           placeholder="Filter by env">
                </th>
                <th class="align-top">
                    Host<br>
                    <input class="form-control form-control-sm" size="8" type="text" [(ngModel)]="state.hostnameFilter"
                           placeholder="Filter by host">
                </th>
                <th class="align-top">Started at</th>
                <th class="align-top">Data received at</th>
                <th class="align-top">Next expected at</th>
                <th class="align-top">Comments</th>
                <th class="align-top">
                    <input type="checkbox" [(ngModel)]="state.selectAllTerminatedAgents" (change)="state.selectOrUnselectAllAgents()"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of state.getFilteredAgents()">
                <td ngbPopover="{{ agent.agentVersion }}"
                    popoverTitle="Agent Version"
                    triggers="mouseenter:mouseleave"
                    placement="top"
                    container="body">
                    {{ agent.appName }} {{ agent.appVersion}}
                </td>
                <td>{{ agent.environment }}</td>
                <td>{{ agent.hostname }}</td>
                <td>{{ agent.startedAtMillis | ckAge:settings.dateFormat }}</td>
                <td>{{ agent.publishedAtMillis | ckAge:settings.dateFormat }}</td>
                <td>
                    <span [ngClass]="agentUploadExpectedAtClasses(agent)">{{ agent.nextPublicationExpectedAtMillis | ckAge:settings.dateFormat }}</span>
                </td>
                <td>{{ getComments(agent) }} <i [ngClass]="commentClasses(agent)"></i></td>
                <td><input [disabled]="!isAgentDeletable(agent)" type="checkbox" [(ngModel)]="agent.selected"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
