<div class="wrapper d-flex flex-column h-100 mx-2">
    <div id="search-form" class="container mt-5">
        <div class="d-flex flex-row">
            <div class="w-75">
                <h4>Search Method</h4>
                <form (ngSubmit)="state.search()" #searchForm="ngForm">
                    <div class="form-group row">
                        <label for="signature" class="col-2 col-form-label">Signature:</label>
                        <div class="col-8 input-group">
                            <input class="form-control"
                                   id="signature"
                                   name="signature"
                                   [(ngModel)]="state.signature"
                                   type="text"
                                   placeholder="Search method signature">

                            <span class="input-group-addon font-italic"
                                  container="body"
                                  [ngbPopover]="signatureHints"
                                  popoverTitle="IDE hints"
                                  triggers="mouseenter:mouseleave"
                                  placement="right">hints</span>

                            <ng-template #signatureHints>
                                <p><b>IDEA:</b> Edit-&gt;Copy Reference</p>
                                <p><b>Eclipse:</b> Edit-&gt;Copy Qualified Name</p>
                                <p>and paste it into the signature field.</p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="maxResults" class="col-2 col-form-label">Max&nbsp;Results:</label>
                        <div class="col-2">
                            <input class="form-control"
                                   id="maxResults"
                                   name="maxResults"
                                   [(ngModel)]="state.maxResults"
                                   type="number"
                                   min="1"
                                   max="10000">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!searchForm.form.valid">Search
                        </button>

                        <div *ngIf="state.data">
                            <small class="ml-2 col-form-label form-text text-muted">{{ state.data.timestamp | ckAge:settings.dateFormat }}: Found {{
                                                                                    state.data.numMethods }} methods in {{
                                                                                    state.data.queryTimeMillis }} ms
                            </small>
                        </div>

                        <div *ngIf="state.errorMessage">
                            <small class="ml-2 col-form-label form-text text-muted" title="{{ state.errorMessage }}">{{
                                                                                                                     communicationFailure()
                                                                                                                     }}
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <ck-settings-editor class="w-25"></ck-settings-editor>
        </div>
    </div>

    <div class="d-flex flex-row h-100 content mx-4">
        <div id="methods-table">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th (click)="state.sortBySignature()" class="signature-column">
                        Signature <i [ngClass]="state.headerIconClassesSignature()" aria-hidden="true"></i>
                    </th>
                    <th (click)="state.sortByAge()" class="age-column">
                        Last Invoked <i [ngClass]="state.headerIconClassesAge()" aria-hidden="true"></i>
                    </th>
                    <td class="row-icon-column"><i class="fa fa-ellipsis-h invisible" aria-hidden="true"></i></td>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let method of state.sortedMethods()"
                    (mouseenter)="state.selectMethod(method)"
                    (click)="gotoMethodDetail(method.id)"
                    [class.table-active]="state.isSelectedMethod(method)">
                    <td class="signature-column wrap-word" [ngClass]="signatureClasses(method)">{{ method.signature }}</td>
                    <td class="age-column wrap-word">
                        {{ method.lastInvokedAtMillis | ckAge:settings.dateFormat }}
                    </td>
                    <td class="icon-column">
                        <i [ngClass]="state.rowIconClasses(method.id)" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="details-table">
            <table *ngIf="state.selectedMethod"
                   class="table table-bordered table-striped table-sm"
                   (click)="gotoMethodDetail(state.selectedMethod.id)">
                <tr>
                    <th colspan="2">ID: {{ state.selectedMethod.id }}</th>
                </tr>
                <tr class="table-active">
                    <td colspan="2" class="wrap-word">{{ state.selectedMethod.signature }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ state.selectedMethod.statuses | ckInvocationStatus }}</td>
                </tr>
                <tr *ngIf="hasInconsistentTracking(state.selectedMethod)">
                    <th colspan="2" class="bg-danger text-white">
                        WARNING: Inconsistent collector configuration, the method is only tracked in {{ state.selectedMethod.trackedPercent
                        }}% of the apps!
                    </th>
                </tr>
                <tr>
                    <th>Last Invoked:</th>
                    <td class="date-column">{{ state.selectedMethod.lastInvokedAtMillis | ckAge:settings.dateFormat }}</td>
                </tr>
                <tr>
                    <th>First report:</th>
                    <td class="date-column">{{ state.selectedMethod.collectedSinceMillis|ckAge:settings.dateFormat}}</td>
                </tr>
                <tr>
                    <th>Last report:</th>
                    <td class="date-column">{{ state.selectedMethod.collectedToMillis|ckAge:settings.dateFormat}}</td>
                </tr>
                <tr>
                    <th colspan="2">Collected in environments:</th>
                </tr>
                <tr *ngFor="let env of state.selectedMethod.collectedInEnvironments">
                    <td>{{ env.name }}</td>
                    <td class="date-column">{{ env.collectedSinceMillis | ckAge:settings.dateFormat }}</td>
                </tr>
                <tr>
                    <th colspan="2">Occurs in applications:</th>
                </tr>
                <tr *ngFor="let app of state.selectedMethod.occursInApplications">
                    <td>{{ app.name }} {{app.version }}</td>
                    <td class="date-column">{{ app.startedAtMillis | ckAge:settings.dateFormat }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>