<header id="top-nav" [ngClass]="topNavClasses()">
    <div class="row align-items-end pt-1 pl-3">
        <div class="col-1">
            <a routerLink=""> <img src="/assets/logo-feathers-60x104.png" class="img" alt="logotype"></a>
        </div>
        <div class="col-3">
            <h1>Codekvast</h1>
            <p class="small text-muted">The Truly Dead Code Detector</p>
        </div>

        <div class="col-8">
            <nav class="nav nav-tabs">
                <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>

                <a routerLink="/methods" class="nav-link" routerLinkActive="active">Methods</a>

                <a routerLink="/status" class="nav-link" routerLinkActive="active">Status</a>

                <a routerLink="/reports" class="nav-link" routerLinkActive="active">Reports</a>
            </nav>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="bg-info small">
    <ul class="nav justify-content-end mr-1">
        <li class="nav-item px-3">{{ getLoginState() }}</li>
        <li class="nav-item px-3"><a id="api-docs" [attr.href]="getApiPrefix() + '/swagger-ui.html'" target="_new">API docs</a></li>
        <li class="nav-item px-3">Codekvast version <span id="codekvastVersion">{{ getVersion() }}</span></li>
    </ul>
</footer>
