<html>

<div id="head-boilerplate">
    <meta charset="utf-8"/>

    <!-- Enable responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Base -->
    <base th:href="@{/}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/__${bootstrapVersion}__/css/bootstrap__${dotCss}__}"/>
    <link rel="stylesheet" th:href="@{/app/codekvast.css}"/>
</div>

<div id="scripts-twitter-bootstrap"> <!-- Twitter Bootstrap -->
    <script th:src="@{/webjars/jquery/__${jqueryVersion}__/jquery__${dotJs}__}"></script>
    <script th:src="@{/webjars/bootstrap/__${bootstrapVersion}__/js/bootstrap__${dotJs}__}"></script>
</div>

<div id="scripts-angularjs"> <!-- AngularJS -->
    <script th:src="@{/webjars/angularjs/__${angularjsVersion}__/angular__${dotJs}__}"></script>
    <script th:src="@{/webjars/angular-ui-bootstrap/__${angularuibootstrapVersion}__/ui-bootstrap__${dotJs}__}"></script>
</div>

<div id="scripts-sockjs"> <!-- SockJS -->
    <script th:src="@{/webjars/sockjs-client/__${sockjsclientVersion}__/sockjs__${dotJs}__}"></script>
    <script th:src="@{/webjars/stomp-websocket/__${stompwebsocketVersion}__/stomp__${dotJs}__}"></script>
</div>

</html>
