<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments :: #head-boilerplate"/>
    <title>Codekvast</title>
</head>

<body>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <div class="pull-right">
        <form class="form-inline" role="form" th:action="@{/logout}" method="post">
            <div class="form-group">
                <p class="form-control-static" th:text="${#httpServletRequest.remoteUser}">sample_user</p>

                <input class="btn btn-default" type="submit" value="Log out"/>
            </div>
        </form>
    </div>
</div>
<div class="container" ng-app="codekvastApp">
    <div class="ng-cloak" ng-controller="MainCtrl">
        <h1>Welcome to {{'Code' + 'kvast!' }}</h1>
        Application: <select ng-model="application"
                             ng-options="app.name + ' ' + app.version group by app.customerName for app in applications"/>

        <table>
            <tr>
                <th style="text-align: left">Signature</th>
                <th>Used at</th>
            </tr>
            <tr ng-repeat="sig in signatures | orderBy:'invokedAtMillis' ">
                <td style="width: 50em">{{::sig.signature}}</td>
                <td>{{::sig.invokedAtMillis | suppressEmptyDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            </tr>
        </table>
    </div>
</div>

<th:block th:include="fragments :: #scripts-twitter-bootstrap"/>
<th:block th:include="fragments :: #scripts-angularjs"/>
<th:block th:include="fragments :: #scripts-sockjs"/>
<script th:src="@{/app/codekvast.js}"></script>
</body>
</html>
