<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="codekvastApp" ng-strict-di="true">
<head>
    <th:block th:include="fragments :: #head-boilerplate"/>
    <th:block th:include="fragments :: #head-disable-caching"/>
    <title>Codekvast</title>
</head>
<body>
<div class="container-fluid ng-cloak">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-6"><h1>Codekvast Invocation Data</h1></div>
        <div class="col-lg-2">
            <form class="form-aaa" role="form" th:action="@{/logout}" method="post">
                <div class="form-group">
                    <p class="form-control-static" th:text="${'Logged in as ' + #httpServletRequest.remoteUser}">sample_user</p>

                    <input class="btn btn-default" type="submit" value="Log out"/>
                </div>
            </form>
        </div>
    </div>

    <a href="/page/welcome">Home</a> <a href="/page/status">Status</a> <a href="/page/statistics">Statistics</a>

    <div ng-view="true"></div>
</div>
<th:block th:include="fragments :: #scripts-twitter-bootstrap"/>
<th:block th:include="fragments :: #scripts-angularjs"/>
<th:block th:include="fragments :: #scripts-sockjs"/>
<script th:src="@{/app/codekvast.js}"></script>
</body>
</html>
