<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments :: #head-boilerplate"/>
    <title th:text="#{registration.page-title}">Codekvast - registration</title>
    <link rel="stylesheet" th:href="@{/app/register.css}"/>
</head>

<body ng-app="codekvastRegistration">
<div class="container" ng-controller="RegistrationCtrl">

    <h1 th:text="#{registration.page-title}">Codekvast - registration</h1>

    <form class="form-horizontal" th:novalidate="false" name="form" ng-submit="doSubmit()">

        <fieldset ng-show="errorMessages">
            <legend>Form errors</legend>
            <div class="col-md-offset-2 col-md-6 text-danger">
                <span ng-repeat="msg in errorMessages">{{msg}}<br/></span>
            </div>
        </fieldset>

        <fieldset>
            <legend>User details</legend>
            <div class="form-group">
                <label class="col-md-2 control-label" for="fullName">Full name</label>
                <input class="col-md-6" id="fullName" name="fullName"
                       placeholder="Enter your full name" type="text" ng-model="registration.fullName" ng-required="true"
                       th:attr="ng-maxlength=${maxUsernameLength}"/>
                <ck-validation-icons field="form.fullName"/>
                <span ng-show="form.fullName.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.fullName)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.fullName)" class="glyphicon glyphicon-ban-circle"></span>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="emailAddress1">Email address</label>
                <input class="col-md-6"
                       id="emailAddress1"
                       name="emailAddress1"
                       placeholder="Enter your email address"
                       type="email"
                       ng-model="registration.emailAddress" ng-required="true" ck-unique="emailAddress"
                       ck-lowercase="true" ng-model-options="{debounce: 500}"
                       th:attr="ng-maxlength=${maxEmailAddressLength}"/>
                <span ng-show="form.emailAddress1.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.emailAddress1)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.emailAddress1)" class="glyphicon glyphicon-ban-circle"></span>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="emailAddress2">Verify email address</label>
                <input class="col-md-6"
                       id="emailAddress2"
                       name="emailAddress2"
                       placeholder="Reenter your email address"
                       type="email"
                       ng-model="emailAddress2" ck-must-match-lc="emailAddress1"
                       ng-required="true"
                       ck-lowercase="true"
                       th:attr="ng-maxlength=${maxEmailAddressLength}"/>
                <span ng-show="form.emailAddress2.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.emailAddress2)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.emailAddress2)" class="glyphicon glyphicon-ban-circle"></span>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="username">Username</label>
                <input class="col-md-6" id="username" name="username" type="text" ng-model="registration.username" ng-required="true"
                       th:attr="ng-maxlength=${maxUsernameLength}" ck-lowercase="true"
                       placeholder="Enter your preferred username"
                       ck-unique="username"
                       ng-model-options="{debounce: 500}"/>
                <span ng-show="form.username.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.username)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.username)" class="glyphicon glyphicon-ban-circle"></span>
                <span ng-show="isAjaxPending(form.username)" class="glyphicon glyphicon-flash"></span>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="pw1">Password</label>
                <input class="col-md-6" id="pw1" name="pw1" type="password" ng-model="registration.password" ng-required="true"
                       placeholder="Enter your preferred password"/>
                <span ng-show="form.pw1.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.pw1)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.pw1)" class="glyphicon glyphicon-ban-circle"></span>
                <ul class="pw-strength" ck-password-strength="registration.password"/>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="pw2">Verify Password</label>
                <input class="col-md-6" id="pw2" name="pw2" type="password" ng-model="pw2" ng-required="true" ck-must-match="pw1"
                       placeholder="Reenter your password"/>
                <span ng-show="form.pw2.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.pw2)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.pw2)" class="glyphicon glyphicon-ban-circle"></span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Customer details</legend>
            <div class="form-group">
                <label class="col-md-2 control-label" for="customerName">Company name</label>
                <input class="col-md-6" id="customerName" name="customerName" type="text" ng-model="registration.customerName"
                       ng-required="true"
                       th:attr="ng-maxlength=${maxCustomerNameLength}"
                       placeholder="Enter your company or organisation name"
                       ck-unique="customerName"
                       ng-model-options="{debounce: 500}"/>
                <span ng-show="form.customerName.$pristine" class="glyphicon glyphicon-asterisk"></span>
                <span ng-show="isFieldValid(form.customerName)" class="glyphicon glyphicon-ok"></span>
                <span ng-show="isFieldInvalid(form.customerName)" class="glyphicon glyphicon-ban-circle"></span>
                <span ng-show="isAjaxPending(form.customerName)" class="glyphicon glyphicon-flash"></span>
            </div>
        </fieldset>
        <button type="submit" ng-disabled="isSubmitDisabled" class="col-md-offset-2 col-md-1 btn btn-primary">Register</button>
        <div ng-show="alertMessage" class="col-md-offset-1 col-md-4 {{alertClass}}">
            {{alertMessage}}
        </div>
    </form>
</div>

<th:block th:include="fragments :: #scripts-twitter-bootstrap"/>
<th:block th:include="fragments :: #scripts-angularjs"/>
<script th:src="@{/app/register.js}"></script>
</body>
</html>
