**/*~
**/*.bak
**/*.log.*.zip
**/*.iml
.gradle
.idea/copyright/**
.idea/dataSources**
.idea/dictionaries/**
.idea/gradle.xml
.idea/libraries/**
.idea/misc.xml
.idea/shelf/
.idea/tasks.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/misc.xml
build/
tools/downloaded/
target/
.vagrant/
.nodejs/
node_modules/
