**/*~
**/*.bak
**/*.log.*.zip
**/*.iml
.gradle
!**/.idea/codeStyleSettings.xml
!**/.idea/compiler.xml
!**/.idea/encodings.xml
!**/.idea/findbugs-idea.xml
!**/.idea/inspectionProfiles/
!**/.idea/runConfigurations/
**/.idea/copyright/
**/.idea/dataSources.ids
**/.idea/dataSources.local.xml
**/.idea/dataSources.xml
**/.idea/dictionaries/
**/.idea/gradle.xml
**/.idea/libraries/
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/rebel_project.xml
**/.idea/scopes/
**/.idea/shelf/
**/.idea/sqldialects.xml
**/.idea/uiDesigner.xml
**/.idea/workspace.xml
build/
tools/downloaded/
target/
.vagrant/
.nodejs/
node_modules/
