!.idea/codeStyleSettings.xml
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/findbugs-idea.xml
!.idea/inspectionProfiles/
!.idea/runConfigurations/*
!.idea/sqldialects.xml
!.idea/typescript-compiler.xml
.idea/
**/*.bak
**/*.ipr
**/*.iml
**/*.log.*.zip
**/*~
**/src/docs/asciidoc/images/architecture-diagram.*
**/src/docs/asciidoc/.asciidoctor/
.gradle
.nodejs/
.tmp/
.vagrant/
build/
codekvast.iws
node_modules/
typings/
target/
tools/downloaded/
npm-debug.log**
product/warehouse/src/webapp/src/**/*.js
product/warehouse/src/webapp/src/**/*.js.map
a.a
phantomjsdriver.log
product/warehouse/src/webapp/dist/

