<!--  Beginning of footer.mustache -->
            </main>
            <footer class='bg-info small'>
                <ul class='nav justify-content-end mr-1'>
                    <li class='nav-item px-3'>
                        <a class='btn btn-info' href='https://www.codekvast.io' target='_new'>Latest News</a>
                    </li>
                    <li class='nav-item px-3'>
                        <a class='btn btn-info' href='https://www.codekvast.io/pages/privacy-policy.html' target='_new'>Privacy Policy</a>
                    </li>
                    <li class='nav-item px-3'>
                                    <span class='btn disabled'>
                                        Codekvast Login
                                    </span>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
