<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <jmxConfigurator/>

    <include resource="logback-appenders.xml"/>

    <logger name="se.crisp" level="DEBUG"/>
    <logger name="org.flyway" level="INFO"/>
    <logger name="h2database" level="WARN"/>

    <logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
    <logger name="org.springframework.boot.context.embedded.tomcat" level="INFO"/>
    <!--<logger name="org.springframework.messaging" level="DEBUG"/>-->
    <!--<logger name="org.springframework.web.socket" level="INFO"/>-->
    <!--<logger name="org.springframework.security" level="INFO"/>-->

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
