html,
body {
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin-top: 38px;
    margin-bottom: 2em;
}

main {
    height: 100%;
    overflow: auto;
}

footer li, #native-integration-menu li {
    border-left: 1px solid darkblue;
}
