<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Pick up the hostname -->
  <define name="HOSTNAME" class="io.codekvast.common.logging.logback.HostnamePropertyDefiner"/>

  <!-- Add properties that are recognized by Datadog -->
  <property scope="context" name="ddsource" value="java"/>
  <property scope="context" name="host" value="${HOSTNAME}"/>

  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}application.log}"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- Add a JSON console appender to use in Fargate -->
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
      <fieldNames>
        <levelValue>[ignore]</levelValue>
        <version>[ignore]</version>
      </fieldNames>
    </encoder>
  </appender>

  <springProfile name="!common-fargate">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
    <logger name="io.codekvast" level="DEBUG"/>
  </springProfile>

  <springProfile name="common-fargate">
    <logger name="JSON_VALIDATOR" level="OFF"/>
    <root level="INFO">
      <appender-ref ref="JSON_CONSOLE"/>
    </root>
  </springProfile>

</configuration>
