<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <define name="hostname" class="io.codekvast.common.logback.HostnamePropertyDefiner"/>

    <!-- Add properties that are recognized by Datadog -->
    <property scope="context" name="source" value="java" />
    <property scope="context" name="host" value="${hostname}" />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="ColorConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d){faint} %clr(%-5p) %clr([%t]){faint} %clr(%c){blue} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>build/log/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>build/log/application.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <springProfile name="color-logging">
        <root level="INFO">
            <appender-ref ref="ColorConsole"/>
        </root>
        <logger name="io.codekvast" level="DEBUG"/>
    </springProfile>

    <springProfile name="json-logging-console">
        <logger name="JSON_VALIDATOR" level="OFF"/>
        <root level="INFO">
            <appender-ref ref="JsonConsole"/>
        </root>
    </springProfile>

    <springProfile name="json-logging-file">
        <logger name="JSON_VALIDATOR" level="OFF"/>
        <root level="INFO">
            <appender-ref ref="JsonFile"/>
        </root>
    </springProfile>
</configuration>
