<div ng-controller="StatisticsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Application Usage Statistics</h3>
        </div>
        <div>
            <div class="well">
                This page shows usage statistics for all applications that deliver usage data to this server.
            </div>
            <div class="panel-body">
                <h2 ng-show="!applicationStatistics">Nothing to show!
                    <small>There are no applications that deliver usage data to this server.</small>
                </h2>
            </div>

            <table class="table" ng-show="applicationStatistics">

                <thead>
                <tr>
                    <th class="col-lg-1" title="The name of the application, as reported by the collector">Application</th>
                    <th class="col-lg-1" title="The version of the application">Version</th>
                    <th class="col-lg-1" title="In how many hosts is this application executing?">Number of instances</th>
                    <th class="col-lg-2"
                        title="When was this version of the application started for the first time with Codekvast attached?">
                        Collection Started
                    </th>
                    <th class="col-lg-1" title="After how long time can methods that have not been invoked be considered possibly dead?">
                        Usage Cycle
                    </th>
                    <th class="col-lg-1" title="How long has the application been used with Codekvast attached?">Usage Time</th>
                    <th class="col-lg-1" title="Can we start identifying possibly dead methods yet?">Usage Data Confidence
                    </th>
                    <th class="col-lg-1" title="The number of tracked methods in this version">Number of Methods</th>
                    <th class="col-lg-1" title="Methods that have never been invoked">Dead Methods</th>
                    <th class="col-lg-1" title="Methods only invoked before the last usage cycle">Possibly Dead Methods
                    </th>
                    <th class="col-lg-1" title="Methods that have been invoked during the last usage cycle">Live Methods
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in applicationStatistics">
                    <td class="col-lg-1">{{a.name}}</td>
                    <td class="col-lg-1">{{a.version}}</td>
                    <td class="col-lg-1">{{a.numHostNames}}</td>
                    <td class="col-lg-2" title="It was started {{a.collectorAge}} ago">{{a.firstDataReceivedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1">{{a.usageCycle}}</td>
                    <td class="col-lg-1" title="The average uptime for all instances of this application">{{a.upTime}}</td>
                    <td class="col-lg-1">
                        <progressbar ng-hide="a.fullUsageCycleCompleted" tooltip="{{a.timeToFullUsageCycle}} to full usage cycle"
                                     value="a.percentOfUsageCycle"
                                     type="{{a.usageCycleProgressType}}">
                            <i ng-show="a.percentOfUsageCycle >= 10">{{a.percentOfUsageCycle}}%</i></progressbar>
                        <progress ng-show="a.fullUsageCycleCompleted">
                            <bar tooltip="Usage cycle: {{a.usageCycle}}"
                                 type="warning"
                                 value="a.leftCompletedBarWidth">100%</bar>
                            <bar tooltip="{{a.name}} has been used {{a.usageCycleMultiple}} times longer than the usage cycle"
                                 type="success"
                                 value="a.rightCompletedBarWidth">
                                <i>{{a.usageCycleMultiple}}x</i></bar>
                        </progress>
                    </td>
                    <td class="col-lg-1">{{a.numSignatures}}</td>
                    <td class="col-lg-1">{{a.percentNeverInvokedSignatures}}%</td>
                    <td class="col-lg-1" title="{{a.possiblyDeadTooltip}}">{{a.percentPossiblyDead}}</td>
                    <td class="col-lg-1">{{a.percentInvokedSignatures}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
