<div ng-controller="StatisticsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Application Usage Statistics</h3>
        </div>
        <div>
            <div class="well">
                This page shows usage statistics for all applications that deliver usage data to this server.
            </div>
            <div class="panel-body">
                <h2 ng-show="!applicationStatistics">Nothing to show!
                    <small>There are no applications that deliver usage data to this server.</small>
                </h2>
            </div>

            <table class="table" ng-show="applicationStatistics">

                <thead>
                <tr>
                    <th colspan="3">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="filter">Filter:
                                    <input id="filter" type="text" class="form-control" ng-model="filter"/>
                                </label></div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'name'; reverse = !reverse">Application</span>
                        <span popover="The name of the application, as configured in the collector"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'version'; reverse = !reverse">Version</span>
                        <span popover="The version of the application, as configured in the collector"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'numHostNames'; reverse = !reverse">Number of instances</span>
                        <span popover="In how many hosts is this application executing?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-2">
                        <span ng-click="orderBy = 'firstDataReceivedAtMillis'; reverse = !reverse">Collection Started</span>
                        <span popover="When was this version of the application started for the first time with Codekvast attached?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'usageCycle'; reverse = !reverse">Usage Cycle</span>
                        <span popover="After how long time can methods that have not been invoked be considered possibly dead?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'upTime'; reverse = !reverse">Usage Time</span>
                        <span popover="How long has the application been used with Codekvast attached?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = ['rightCompletedBarWidth', 'leftCompletedBarWidth']; reverse = !reverse">Usage Data Confidence</span>
                        <span popover="Can we start identifying possibly dead methods yet?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'numSignatures'; reverse = !reverse">Number of Methods</span>
                        <span popover="The number of tracked methods in this version"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'percentNeverInvokedSignatures'; reverse = !reverse">Dead Methods</span>
                        <span popover="Methods that have never been invoked"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'percentPossiblyDead'; reverse = !reverse">Possibly Dead Methods</span>
                        <span popover="Methods only invoked before the last usage cycle"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1">
                        <span ng-click="orderBy = 'percentInvokedSignatures'; reverse = !reverse">Live Methods</span>
                        <span popover="Methods that have been invoked during the last usage cycle"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in applicationStatistics|filter:filter|orderBy:orderBy:reverse">
                    <td class="col-lg-1">{{a.name}}</td>
                    <td class="col-lg-1">{{a.version}}</td>
                    <td class="col-lg-1">{{a.numHostNames}}</td>
                    <td class="col-lg-2" title="It was started {{a.collectorAge}} ago">{{a.firstDataReceivedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1">{{a.usageCycle}}</td>
                    <td class="col-lg-1" title="The average uptime for all instances of this application">{{a.upTime}}</td>
                    <td class="col-lg-1">
                        <progressbar ng-hide="a.fullUsageCycleCompleted" tooltip="{{a.timeToFullUsageCycle}} to full usage cycle"
                                     value="a.percentOfUsageCycle"
                                     type="{{a.usageCycleProgressType}}">
                            <i ng-show="a.percentOfUsageCycle >= 10">{{a.percentOfUsageCycle}}%</i></progressbar>
                        <progress ng-show="a.fullUsageCycleCompleted">
                            <bar tooltip="Usage cycle: {{a.usageCycle}}"
                                 type="warning"
                                 value="a.leftCompletedBarWidth">100%</bar>
                            <bar tooltip="{{a.name}} has been used {{a.usageCycleMultiple}} times longer than the usage cycle"
                                 type="success"
                                 value="a.rightCompletedBarWidth">
                                <i>{{a.usageCycleMultiple}}x</i></bar>
                        </progress>
                    </td>
                    <td class="col-lg-1">{{a.numSignatures}}</td>
                    <td class="col-lg-1">{{a.percentNeverInvokedSignatures}}%</td>
                    <td class="col-lg-1" title="{{a.possiblyDeadTooltip}}">{{a.percentPossiblyDead}}</td>
                    <td class="col-lg-1">{{a.percentInvokedSignatures}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
