<div ng-controller="StatisticsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Application Statistics</h3>
        </div>
        <div>
            <div class="panel-body">
                <h2 ng-show="!applicationStatistics">Nothing to show!
                    <small>There are no applications equipped with codekvast-collector that delivers data to this server.</small>
                </h2>
            </div>

            <table class="table application-statistics" ng-show="applicationStatistics">

                <thead ng-show="applicationStatistics">
                <tr>
                    <th class="col-lg-1" title="The name of the application, as reported by the collector">Application</th>
                    <th class="col-lg-1" title="The version of the application">Version</th>
                    <th class="col-lg-2"
                        title="When was this version of the application started for the first time with Codekvast attached?">
                        Collection Started
                    </th>
                    <th class="col-lg-1" title="Are the application instances running?">Running Instances</th>
                    <th class="col-lg-1" title="After how long can methods that have not been invoked be considered truly dead?">Usage
                                                                                                                                  Cycle
                    </th>
                    <th class="col-lg-1" title="How long has the application been up?">Uptime</th>
                    <th class="col-lg-1" title="Can we start identifying truly dead methods yet?">Usage Confidence
                    </th>
                    <th class="col-lg-1" title="The number of tracked methods in this version">Number of Methods</th>
                    <th class="col-lg-1" title="Mow many percent of all tracked methods have never been invoked?">Never Invoked Methods</th>
                    <th class="col-lg-1"
                        title="How many tracked methods have never been invoked, or only invoked before the last usage cycle?">Truly Dead
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in applicationStatistics.applications">
                    <td class="col-lg-1">{{a.name}}</td>
                    <td class="col-lg-1">{{a.version}}</td>
                    <td class="col-lg-2" title="It was started {{a.collectorAge}} ago">{{a.firstDataReceivedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1" title="Data age: {{a.dataAge}}">
                        <progressbar value="100" type="{{a.collectorsWorkingType}}">
                            {{a.collectorsWorking }}
                        </progressbar>
                    </td>
                    <td class="col-lg-1">{{a.usageCycle}}</td>
                    <td class="col-lg-1" title="The average uptime over all instances of the application version">{{a.upTime}}</td>
                    <td class="col-lg-1">
                        <progressbar ng-hide="a.fullUsageCycleCompleted" tooltip="{{a.timeToFullUsageCycle}} to full usage cycle"
                                     value="a.percentOfUsageCycle"
                                     type="{{a.usageCycleProgressType}}">
                            <i style="color: black" ng-show="a.percentOfUsageCycle >= 10">{{a.percentOfUsageCycle}}%</i></progressbar>
                        <progress ng-show="a.fullUsageCycleCompleted">
                            <bar tooltip="Usage cycle: {{a.usageCycle}}"
                                 type="warning"
                                 value="a.leftCompletedBarWidth">100%</bar>
                            <bar tooltip="Uptime: {{a.upTime}}" type="success"
                                 value="a.rightCompletedBarWidth">
                                <i>{{a.usageCycleMultiple}}x</i></bar>
                        </progress>
                    </td>
                    <td class="col-lg-1">{{a.numSignatures}}</td>
                    <td class="col-lg-1">{{a.percentNeverInvokedSignatures}}%</td>
                    <td class="col-lg-1" title="{{a.trulyDeadTooltip}}">{{a.percentTrulyDead}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
