<div ng-controller="ReportController">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Create Code Usage Report</h3>
        </div>
        <div class="well">
            This page allows you to create a code usage report.
        </div>
        <div class="panel-body">
            <h2 ng-show="!formData.applications">Nothing to show!
                <small>There are no applications that deliver usage data to this server.</small>
            </h2>

            <div ng-show="formData.applications">
                <table>
                    <tr>
                        <th class="col-lg-1">Include applications (usage cycle)</th>
                        <th class="col-lg-1">Include versions</th>
                        <th class="col-lg-1">Include methods by execution date</th>
                        <th class="col-lg-1"></th>
                        <th class="col-lg-1"></th>
                    </tr>
                    <tr style="vertical-align: top">

                        <!-- Applications -->
                        <td class="col-lg-1">
                            <ul class="list-unstyled">
                                <li ng-repeat="a in formData.applications">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="a.selected">
                                            {{a.name}} ({{getUsageCycle(a) }})</label>
                                    </div>
                                </li>
                            </ul>
                            Select <a href="#" ng-click="selectAll('applications', true)">all</a>
                            / <a href="#" ng-click="selectAll('applications', false)">none</a>
                        </td>

                        <!-- Versions -->
                        <td class="col-lg-1">
                            <ul class="list-unstyled">
                                <li ng-repeat="a in formData.versions">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="a.selected"> {{a.name}}</label>
                                    </div>
                                </li>
                            </ul>
                            Select <a href="#" ng-click="selectAll('versions', true)">all</a> / <a href="#" ng-click="selectAll('versions', false)">none</a>
                        </td>

                        <!-- Methods -->
                        <td class="col-lg-2">
                            <ul class="list-unstyled">
                                <li ng-repeat="m in formData.methods">

                                    <div class="checkbox"><label>
                                        <input type="checkbox" ng-model="m.selected"/>
                                        {{m.labelText}}</label>
                                        <span popover-title="{{m.popoverTitle}}" popover="{{m.popoverText()}}"
                                              popover-trigger="click"
                                              popover-placement="right"
                                              popover-append-to-body="true"
                                              class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                    <div class="input-group input-group-sm"
                                         ng-show="m.showBootstrapSecondsInput && formData.methods[2].selected">
                                        <span class="input-group-addon">Bootstrap time</span>
                                        <input type="number" min="1" class="form-control col-sm-1" ng-model="formData.bootstrapTimeSeconds">
                                        <span class="input-group-addon">s</span>
                                    </div>
                                </li>

                            </ul>
                            Select <a href="#" ng-click="selectAll('methods', true)">all</a> / <a href="#"
                                                                                                  ng-click="selectAll('methods', false)">none</a>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <form class="form-inline">
                                <div class="form-group"><label for="previewRows">Preview&nbsp;
                                    <input id="previewRows"
                                           type="number"
                                           class="form-control"
                                           min="1"
                                           max="100"
                                           ng-model="formData.previewRows"/>&nbsp;rows&nbsp;</label>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        ng-disabled="!isSubmitEnabled()" ng-click="previewReport()">Preview report
                                </button>
                                <span ng-show="reportInProgress">Fetching preview data...</span>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="panel panel-info" ng-show="previewData">
        <div class="panel-heading">Report Preview</div>
        <div class="panel-body">
            <div class="row">
                <span class="col-lg-6">
                    <p>Methods by execution date: {{previewData.numMethodsByScope|json}}</p>
                </span>
                <div class="col-lg-6">
                    <button ng-click="generateReport('CSV')">Fetch as CSV...</button>
                    <button ng-click="generateReport('JSON')">Fetch as JSON...</button>
                    <button ng-click="generateReport('XML')">Fetch as XML...</button>
                    <button ng-click="generateReport('Excel')">Fetch as Excel...</button>
                </div>
            </div>
            <hr/>
            <table>
                <thead>
                <tr>
                    <th class="col-lg-7" ng-click="orderBy='name'; reverse = !reverse">Method</th>
                    <th class="col-lg-1" ng-click="orderBy='scope'; reverse = !reverse">Scope</th>
                    <th class="col-lg-2" ng-click="orderBy='invokedAtMillis'; reverse = !reverse">Invoked At</th>
                    <th class="col-lg-2" ng-click="orderBy='invokedAtMillis'; reverse = !reverse">Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in previewData.methods|orderBy:orderBy:reverse">
                    <td class="col-lg-7">{{::m.name}}</td>
                    <td class="col-lg-1">{{::m.scope|enum}}</td>
                    <td class="col-lg-2">{{::m.invokedAtMillis|orderBy:orderBy|invokedAtDate:dateFormat}}</td>
                    <td class="col-lg-2">{{::m.invokedAtMillis|orderBy:orderBy|age}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
