<div ng-controller="CollectorsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Collector Status</h3>
        </div>
        <div>
            <div class="well">
                This page shows details for all the collectors that deliver usage data to this server.
            </div>
            <div class="panel-body">
                <h2 ng-show="!collectorStatuses">Nothing to show!
                    <small>There are no applications that deliver usage data to this server.</small>
                </h2>
            </div>

            <table class="table collector-status" ng-show="collectorStatuses">
                <thead>
                <tr>
                    <th colspan="3">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="filter">Filter:
                                    <input id="filter" type="text" class="form-control" ng-model="filter"/>
                                </label></div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th class="col-lg-1" ng-click="orderBy = 'appName'; reverse = !reverse">Application
                        <span popover="The name of the application, as configured in the collector"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'appVersion'; reverse = !reverse">Version
                        <span popover="The version of the application, as configured in the collector"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-2" ng-click="orderBy = 'collectorStartedAtMillis'; reverse = !reverse"> Collection Started
                        <span popover="When was this version of the application started for the first time with Codekvast attached?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'collectorHostname'; reverse = !reverse">Hostname
                        <span popover="In which host is the application executing?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'collectorVersion'; reverse = !reverse">Collector Version
                        <span popover="Which version of the Codekvast collector is attached to the application?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'agentVersion'; reverse = !reverse">Agent Version
                        <span popover="Which version of the Codekvast agent is attached to the application?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'methodVisibility'; reverse = !reverse">Method Visibility
                        <span popover="Which methods are tracked?"
                              popover-trigger="click"
                              popover-placement="right"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'collectorResolutionSeconds'; reverse = !reverse">Collector Resolution
                        <span popover="What is the resolution of the collector?"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'agentUploadIntervalSeconds'; reverse = !reverse">Agent Upload Interval
                        <span popover="How often is the agent uploading collected data?"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                    <th class="col-lg-1" ng-click="orderBy = 'dataReceivedAtMillis'; reverse = !reverse">Data Age
                        <span popover="How old is the data?"
                              popover-trigger="click"
                              popover-placement="left"
                              class="glyphicon glyphicon-info-sign"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in collectorStatuses|filter:filter|orderBy:orderBy:reverse">
                    <td class="col-lg-1">{{c.appName}}</td>
                    <td class="col-lg-1">{{c.appVersion}}</td>
                    <td class="col-lg-2" title="{{c.collectorAge}}">{{c.collectorStartedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1">{{c.collectorHostname}}</td>
                    <td class="col-lg-1">{{c.collectorVersion}}</td>
                    <td class="col-lg-1">{{c.agentVersion}}</td>
                    <td class="col-lg-1">{{c.methodVisibility}}</td>
                    <td class="col-lg-1">{{c.collectorResolution}}</td>
                    <td class="col-lg-1">{{c.agentUploadInterval}}</td>
                    <td class="col-lg-1" ng-class="dataAgeClass(c)">{{c.dataAge}} <i class="glyphicon glyphicon-warning-sign"
                                                                                     ng-show="isDown(c)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
