<div ng-controller="CollectorController">
    <div class="panel panel-info" ng-show="collectorStatus">
        <div class="panel-heading" ng-click="collectorStatusOpen = !collectorStatusOpen">
            Collector status <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': collectorStatusOpen, 'glyphicon-chevron-right': !collectorStatusOpen}"></i>
        </div>
        <div collapse="!collectorStatusOpen">
            <div class="panel-body">
                <p>The status of all collectors that deliver data to this server.</p>
            </div>
            <table class="table collector-status">
                <thead>
                <tr>
                    <th class="col-lg-1">Application</th>
                    <th class="col-lg-1">Version</th>
                    <th class="col-lg-1">Host</th>
                    <th class="col-lg-1">Collection Started At</th>
                    <th class="col-lg-1">Usage Cycle</th>
                    <th class="col-lg-1" title="Time since collector started">Collector Age</th>
                    <th class="col-lg-1" title="Time left until you can identify Truly Dead Code">Time to Full Usage Cycle</th>
                    <th class="col-lg-1" title="Time point when the collector uploaded data">Data Received At</th>
                    <th class="col-lg-1">Data Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in collectorStatus.collectors">
                    <td class="col-lg-1">{{c.name}}</td>
                    <td class="col-lg-1">{{c.version}}</td>
                    <td class="col-lg-1">{{c.hostname}}</td>
                    <td class="col-lg-1">{{c.startedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1">{{c.trulyDeadAfter}}</td>
                    <td class="col-lg-1">{{c.collectorAge}}</td>
                    <td class="col-lg-1 collector-age">{{c.countDown}}</td>
                    <td class="col-lg-1">{{c.dataReceivedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1 collector-age">{{c.updateAge}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-controller="SignatureController">

    <div class="panel panel-info" ng-show="newestSignatures">
        <div class="panel-heading" ng-click="newestSignaturesOpen = !newestSignaturesOpen">
            Newest Signatures <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': newestSignaturesOpen, 'glyphicon-chevron-right': !newestSignaturesOpen}"></i>
        </div>
        <div collapse="!newestSignaturesOpen">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr class="row">
                    <th class="col-lg-9 signature-name">Name</th>
                    <th class="col-lg-2 signature-invoked-at">Invoked&nbsp;At</th>
                </tr>
                </thead>

                <tbody>
                <tr class="row" ng-repeat="s in newestSignatures">
                    <td class="col-lg-9 signature-name">{{::s.name}}</td>
                    <td class="col-lg-2 signature-invoked-at">{{::s.invokedAtMillis | invokedAtDate:'short'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
