<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="settingsLabel">Settings</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>Application Usage Cycle<br/>
                    <small>The shortest time an application must be in use before one can identify truly dead code.</small> </legend>
                <div class="form-group" ng-repeat="a in collectorStatus.applications">
                    <label for="app-{{$index}}" class="col-sm-4 control-label">{{a.name}}</label>

                    <div class="col-sm-5">
                        <div class="input-group">
                            <input id="app-{{$index}}"
                                   class="form-control"
                                   type="number"
                                   min="1"
                                   ng-model="a.usageCycleValue"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{a.usageCycleUnit}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" ng-click="setUnit(a, 'seconds')">seconds</a></li>
                                    <li><a href="#" ng-click="setUnit(a, 'minutes')">minutes</a></li>
                                    <li><a href="#" ng-click="setUnit(a, 'hours')">hours</a></li>
                                    <li><a href="#" ng-click="setUnit(a, 'days')">days</a></li>
                                    <li><a href="#" ng-click="setUnit(a, 'months')">months</a></li>
                                    <li><a href="#" ng-click="setUnit(a, 'years')">years</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>
</div>
