<div ng-controller="StatisticsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            Application Statistics
        </div>
        <div>
            <div class="panel-body">
                <p ng-show="applicationStatistics">Statistics for all applications monitored by Codekvast</p>

                <h2 ng-show="!applicationStatistics">Nothing to show!
                    <small>There are no applications equipped with codekvast-collector that delivers data to this server.</small>
                </h2>
            </div>

            <table class="table application-statistics" ng-show="applicationStatistics">

                <thead ng-show="applicationStatistics">
                <tr>
                    <th class="col-lg-1" title="The name of the application, as reported by the collector">Application</th>
                    <th class="col-lg-1" title="The version of the application">Version</th>
                    <th class="col-lg-1"
                        title="When this version of the application was started for the first time with Codekvast attached">
                        Collection Started
                    </th>
                    <th class="col-lg-1" title="After this many days code that has not been invoked can be considered truly dead">Usage
                                                                                                                                  Cycle
                    </th>
                    <th class="col-lg-1" title="The time to wait before one can start identifying truly dead code">Time to full Usage
                                                                                                                   Cycle
                    </th>
                    <th class="col-lg-1" title="The total number of signatures in this version"># Signatures</th>
                    <th class="col-lg-1" title="Number of signatures that have never been invoked"># Never Invoked Signatures</th>
                    <th class="col-lg-1" title="Percent of signatures that have never been invoked">% Never Invoked</th>
                    <th class="col-lg-1" title="Number of methods that were never invoked, or only before the last usage cycle"># Truly Dead
                    </th>
                    <th class="col-lg-1" title="Percentage of all methods that are truly dead">% Truly Dead</th>
                    <th class="col-lg-1" title="How fresh is this data?">Data Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in applicationStatistics.applications">
                    <td class="col-lg-1">{{a.name}}</td>
                    <td class="col-lg-1">{{a.version}}</td>
                    <td class="col-lg-1">{{a.firstDataReceivedAtMillis|date:dateFormat}}</td>
                    <td class="col-lg-1">{{a.usageCycle}}</td>
                    <td class="col-lg-1">{{a.timeToFullUsageCycle}}</td>
                    <td class="col-lg-1">{{a.numSignatures}}</td>
                    <td class="col-lg-1">{{a.numNeverInvokedSignatures}}</td>
                    <td class="col-lg-1">{{a.percentNeverInvokedSignatures}}</td>
                    <td class="col-lg-1">{{a.numTrulyDeadSignatures}}</td>
                    <td class="col-lg-1">{{a.percentTrulyDeadSignatures}}</td>
                    <td class="col-lg-1">{{a.dataAge}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
