<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Not logged in.</h1>
        <p class="lead">
            You can log in from <a href="{{ getLoginUrl() }}">Codekvast Login</a>.
        </p>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Heroku</h5>
                <div class="card-text">
                    <p>As a Heroku user you open the Codekvast Dashboard with the CLI command <code>heroku addons:open codekvast</code> from
                        your Heroku workspace or byclicking on Codekvast in the <a href="https://dashboard.heroku.com/apps/" target="_new">Heroku Dashboard</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
