<div class="container">
    <div *ngIf="user">
        <div>Logged in as {{ user.email }}</div>
        <div *ngIf="user.customerData">
        <span *ngFor="let cd of user.customerData">
            <a href="#" (click)="launchDashboard(cd)">Show collected data for {{ cd.customerName }}</a>
        </span>
            <hr>
        </div>
        <div *ngIf="user.customerData.length === 0">
            <span>You don't have access to any Codekvast data</span>
        </div>
        <button (click)="logout()">Logout</button>
    </div>
</div>
