<div class="container">
    <h1>Search Methods</h1>
    <form *ngIf="active" (ngSubmit)="search()" #searchForm="ngForm">

        <div class="form-group col-lg-10">
            <label for="signature">Signature</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="signature"
                   ngControl="signature">
        </div>

        <div class="form-group col-lg-2">
            <label for="maxResults">Max Results</label>
            <input type="number"
                   min="1"
                   max="10000"
                   class="form-control"
                   [(ngModel)]="maxResults"
                    ngControl="maxResults">
        </div>

        <div class="form-group col-lg-1">
            <button type="submit" class="form-control btn btn-default" [disabled]="!searchForm.form.valid">Search</button>
        </div>
    </form>
</div>
