<configuration debug="false" scan="true" scanPeriod="10 seconds">

    <define name="LOG_PATH" class="se.crisp.codekvast.server.codekvast_server.logback.LogPathDefiner"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/codekvast-server.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>codekvast-server.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%date %level %logger [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %logger [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="se.crisp" level="DEBUG"/>
    <logger name="org.flyway" level="INFO"/>
    <logger name="h2database" level="WARN"/>

    <logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
    <logger name="org.springframework.boot.context.embedded.tomcat" level="INFO"/>
    <logger name="org.springframework.messaging" level="INFO"/>
    <logger name="org.springframework.web.socket" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
