/* codekvast.css */

.ng-cloak {
    display: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.collector-age {
    text-align: left;
}

.signature-invoked-at {
    text-align: center;
}

.status-panel td {
    padding-left: 1em;
}
