/* codekvast.css */

.ng-cloak {
    display: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    padding-bottom: 70px;
}

.codekvast-footer {
    min-height: 0px;
}
