/* codekvast.css */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.signature-name {
    width: 65em;
}

.signature-age {
    width: 7em;
}

.signature-invoked-at {
    width: 10em;
}

.status-panel td {
    padding-left: 1em;
}
