input {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    background: transparent;
}

input.ng-invalid.ng-dirty {
    background: lightyellow;
}

input.ng-valid.ng-dirty {
    background: #CFC;
}

.glyphicon {
    margin-left: 0.5em;
}

ul.pw-strength {
    display: none;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

ul.pw-strength .point:last-child {
    margin: 0 !important;
}

ul.pw-strength .point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}
