# What shall we log?
# logging.level.se.crisp.codekvast = INFO

# Where shall we look for collector output?
# codekvast.dataPath = ${java.io.tmpdir}/codekvast

# How often shall we look for collector output?
# codekvast.dataProcessingIntervalSeconds = 60

# What is the full path of the produced export file?
# This file shall be transferred to the central warehouse.
# Supported placeholders: #timestamp# and #hostname#
# codekvast.exportFile = ${java.io.tmpdir}/codekvast/.warehouse/codekvast-data-#hostname#.zip

# What is the name of this environment?
# Is used for distinguishing the contributions to the central warehouse.
# codekvast.environment = unspecified

# To which host shall we upload the exportFile?
# It should contain a hostname. It may optionally end with a port specification, which defaults to ":22"
# codekvast.uploadToHost =

# To which directory shall we upload the exportFile?
# (This is the codekvast.importPath of the warehouse's configuration.)
# codekvast.uploadToPath = /tmp/codekvast/.warehouse
