<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <include resource="logback-appenders.xml"/>

    <logger name="se.crisp.codekvast" level="INFO"/>
    <logger name="se.crisp.codekvast.daemon.worker" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
