<header id="top-nav" class="container">
    <div class="row align-items-end pt-1 pl-3">
        <div class="col-1">
            <a routerLink=""> <img src="/assets/logo-feathers-60x104.png" class="img" alt="logotype"></a>
        </div>
        <div class="col-3">
            <h1>Codekvast</h1>
            <p class="small text-muted">The Truly Dead Code Detector</p>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="bg-info small">
    <ul class="nav justify-content-end mr-1">
        <li class="nav-item px-3">Codekvast Login version <span id="codekvastVersion">{{ getVersion() }}</span></li>
    </ul>
</footer>
