<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <title>Codekvast Login</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>
<h1>Codekvast Login</h1>
<div class="container unauthenticated">
    <p>Login with <a href="/login/facebook">Facebook</a></p>
    <p>Login with <a href="/login/github">Github</a></p>
    <p>Login with <a href="/login/google">Google</a></p>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>

<div id="login-failure" class="container text-danger" style="display:none">
    There was an error (bad credentials).
</div>

<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });

    var logout = function () {
        $.post("/logout", function () {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        });
        return true;
    }

    $.get("/user", function (data) {
        console.log("data=%o", data);
        if (data) {
            $("#user").html(JSON.stringify(data));
            $(".unauthenticated").hide();
            $(".authenticated").show();
        } else {
            logout();
        }
    });

</script>
<div th:replace="_fragments::google_analytics"></div>
</body>
</html>
