#!/usr/bin/env bash
#----------------------------------------------------------------------------
# Make a backup of all MariaDB databases in this host
#----------------------------------------------------------------------------

declare weekday=${1:-$(date --utc +%A | tr [A-Z] [a-z])}
declare targetDir={{ mysql_backup_dir }}/latest
declare tarball={{ mysql_backup_dir }}/mariadb-backup-$weekday.tar.gz
declare bucket={{ s3_database_backup_bucket }}

rm -fr $targetDir
mkdir -p $targetDir
xtrabackup --backup --target-dir $targetDir

cd $targetDir
tar czf $tarball *

s3cmd --config=/root/s3cfg --progress --force put $tarball s3://$bucket
s3cmd --config=/root/s3cfg ls s3://$bucket
