[defaults]

remote_user = ubuntu
private_key_file = ~/.ssh/codekvast-amazon.pem
inventory = inventory/codekvast.aws_ec2.yml

roles_path = roles
host_key_checking = False
log_path = ./ansible.log

ansible_managed = This file is managed by Ansible. Template: {file}. User: {uid}. Host: {host}

gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.cache/ansible-facts
fact_caching_timeout = 900

stdout_callback = debug

[inventory]
enable_plugins = aws_ec2
cache = yes
cache_plugin = jsonfile
cache_connection = ~/.cache/ansible-inventory
