warehouse:
  image: crisp/codekvast-warehouse:latest

  container_name: codekvast-warehouse

  volumes:
  - /tmp/codekvast/.warehouse:/tmp/codekvast/.warehouse
  - /var/log:/var/log

  links:
  - database

  restart: on-failure:10

  environment:
  - SPRING_PROFILES_ACTIVE=docker

database:
  image: mariadb:10

  container_name: codekvast-database

  environment:
  - MYSQL_ROOT_PASSWORD=root
  - MYSQL_DATABASE=codekvast_warehouse
  - MYSQL_USER=codekvast
  - MYSQL_PASSWORD=codekvast
  - TERM=xterm-256color

  volumes:
  - /var/lib/codekvast-database:/var/lib/mysql

  expose:
  - "3306"

  command: --character-set-server=utf8 --collation-server=utf8_general_ci --default-storage-engine=innodb
