<!--@formatter:off -->
<html>
<div id="head_boilerplate"><meta charset="utf-8"/>

    <meta name="description"
          content="Codekvast detects Truly Dead Code in Java and other JVM languages. Truly dead code is code that
          no-one uses. By continuously detect and remove truly dead code, you avoid a bloated code base. "/>

    <meta name="keywords"
          content="Truly Dead Code, detect, identify, dead code, runtime intelligence, continuous integration,
          continuous delivery, continuous deployment, continuous code cleansing, code cleansing, scode cleaning, JVM, Java, Scala,
           Groovy, Clojure, Jython, JRuby, maintenance cost, team velocity, team efficiency, development speed "/>

    <meta name="X-Codekvast-version" th:attr="content=${buildVersion}"/>

    <!-- Enable responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Base -->
    <base th:href="@{/}"/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>

    <!-- Configure head.js -->
    <script>
            var head_conf = {
                screens: [480, 569, 640, 800, 1000]
            };
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap__${dotCss}__}"/>
    <link rel="stylesheet" th:href="@{/app/codekvast-web.css}"/>
</div>

<div id="scripts_angularjs"><!-- AngularJS -->
<script th:src="@{/webjars/headjs/1.0.3/head.core__${dotJs}__}"></script>
<script th:src="@{/app/google-analytics.js}"></script>
<script th:src="@{/webjars/jquery/2.1.3/jquery__${dotJs}__}"></script>
<script th:src="@{/webjars/angularjs/1.3.6/angular__${dotJs}__}"></script>
<script th:src="@{/webjars/angularjs/1.3.6/angular-route__${dotJs}__}"></script>
<script th:src="@{/webjars/angularjs/1.3.6/angular-aria__${dotJs}__}"></script>
<script th:src="@{/webjars/angular-ui-bootstrap/0.12.0/ui-bootstrap__${dotJs}__}"></script>
</div>

</html>
<!--@formatter:on -->
