<!--@formatter:off -->
<html>
<div id="head-boilerplate"><meta charset="utf-8"/>

    <!-- Enable responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Base -->
    <base th:href="@{/}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/app/codekvast-web.css}"/>
</div>

<div id="scripts-twitter-bootstrap"><!-- Twitter Bootstrap -->
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
</div>

<div id="scripts-angularjs"><!-- AngularJS -->
<script th:src="@{/webjars/angularjs/1.3.2/angular.js}"></script>
<script th:src="@{/webjars/angularjs/1.3.2/angular-route.js}"></script>
</div>

</html>
<!--@formatter:on -->
