<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="codekvastWeb">
<head>
    <th:block th:include="fragments :: #head-boilerplate"/>
    <title>Codekvast</title>
</head>

<body class="ng-cloak">
<div class="container-fluid" ng-controller="MainController">
    <div class="row top-row">
        <a href="/"><img class="col-sm-1" id="logotype" th:src="@{img/crisp-logo-new-horisontal-color.png}"/></a>

        <div class="col-sm-7 text-center">
            <h1>Codekvast</h1>
        </div>
    </div>

    <div id="banner" class="row full-width">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Continuous Code Cleansing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>or</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>How to Detect Truly Dead Code in Your Application</h3>
                </div>
            </div>
            <div class="row">
                <form class="col-sm-8 col-sm-offset-3 form-horizontal" name="registerForm">
                    <div class="form-group col-sm-6">
                        <label for="email" class="sr-only">Email address</label>
                        <input id="email"
                               name="email"
                               class="form-control input-lg"
                               type="email"
                               required="required"
                               placeholder="Your e-mail address" ng-model="data.emailAddress" ng-change="enableSubmitButton()"/>
                    </div>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="submitEmailAddress()" ng-disabled="isSubmitDisabled">Send
                                                                                                                                        me
                                                                                                                                        more
                                                                                                                                        information
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div ng-view="true"></div>

    <div th:if="${!thymeleafCache}">
        <hr/>
        <button ng-click="cleanTemplateCache()">Clean template cache</button>
    </div>
</div>

<th:block th:include="fragments :: #scripts-angularjs"/>
<script th:src="@{/app/codekvast-web.js}"></script>
</body>
</html>
