<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="codekvastWeb">
<head>
    <th:block th:include="fragments :: #head-boilerplate"/>
    <title>Codekvast</title>
</head>

<body class="ng-cloak">
<div class="container-fluid" ng-controller="MainController">
    <div class="row top-row">
        <a href="/"><img class="col-xs-1" id="logotype" th:src="@{img/crisp-logo-new-horisontal-color.png}"/></a>

        <div class="col-xs-7 text-center">
            <h1>Codekvast</h1>
        </div>
    </div>

    <div id="banner" class="row full-width">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="slogan primary-slogan">Continuous Code Cleansing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h4 class="slogan slogan-separator">or</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="slogan secondary-slogan">How to Detect Truly Dead Code in Your Application</h3>
                </div>
            </div>
            <form class="form-inline" name="registerForm" id="registerForm" ng-show="showRegisterForm">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">@</div>
                        <label for="email" class="sr-only">Email address</label>
                        <input id="email"
                               name="email"
                               class="form-control"
                               type="email"
                               required="required"
                               placeholder="E-mail address"
                               ng-model="data.emailAddress"
                               ng-change="enableSubmitButton()"/>
                    </div>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="submitEmailAddress()" ng-disabled="isSubmitDisabled">
                        Send more information
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div ng-view="true"></div>

    <div th:if="${!thymeleafCache}">
        <hr/>
        <button ng-click="cleanTemplateCache()">Clean template cache</button>
    </div>
</div>

<th:block th:include="fragments :: #scripts-angularjs"/>
<script th:src="@{/app/codekvast-web.js}"></script>
</body>
</html>
