#!/usr/bin/env bash
#----------------------------------------------------------------------------
# Restore a backup produced by mariabackup
#----------------------------------------------------------------------------

declare backupFile=$1
if [ -z "$backupFile" ]; then
    echo "Usage: $(basename $0) path/to/backup.tar.gz" 1>&2
    exit 1
fi

if [ -d $backupFile ]; then
    echo "$backupFile is a directory" 1>&2
    exit 2
fi

if [ ! -f $backupFile ]; then
    echo "No such file: $backupFile" 1>&2
    exit 2
fi

declare answer=$2
if [ -z "$answer" ]; then
    echo -n "About to restore database from $backupFile. Continue? [y/N] "; read answer
fi
if [ "$answer" != "y" -a "$answer" != "--yes" ]; then
    echo "Nothing done."
    exit 0
fi

echo "Here we go..."

declare tmpDir=$(mktemp --directory --tmpdir mariadb.XXXXXXXX)
trap "rm -fr $tmpDir" EXIT

echo "Unpacking archive..."
tar xzf $backupFile -C $tmpDir

echo "Preparing for restore..."
mariabackup --prepare --target-dir $tmpDir

echo "Stopping mariadb server..."
systemctl stop mysql

echo "Restoring backup..."
rm -fr {{ mysql_datadir }}/*
mariabackup --move-back --target-dir $tmpDir
chown -R mysql.mysql {{ mysql_datadir }}
chmod -R u+rw,g+rw,o= {{ mysql_datadir }}

echo "Starting mariadb server..."
systemctl start mysql
