#!/usr/bin/env bash
# {{ ansible_managed }}
#----------------------------------------------------------------------------
# Restore a backup produced by mysqldump
#----------------------------------------------------------------------------

declare backupFile=$1
if [ -z "${backupFile}" ]; then
    echo "Usage: $(basename $0) path/to/backup.sql.gz" 1>&2
    exit 1
fi

if [ -d ${backupFile} ]; then
    echo "${backupFile} is a directory" 1>&2
    exit 2
fi

if [ ! -f ${backupFile} ]; then
    echo "No such file: ${backupFile}" 1>&2
    exit 2
fi

declare answer=$2
if [ -z "$answer" ]; then
    echo -n "About to restore database from ${backupFile}. Continue? [y/N] "; read answer
fi
if [ "$answer" != "y" -a "$answer" != "--yes" ]; then
    echo "Nothing done."
    exit 0
fi

echo "Here we go..."

cat << EOF
DROP DATABASE IF EXISTS codekvast;
CREATE DATABASE codekvast;
GRANT ALL ON codekvast.* to 'codekvast'@'%' IDENTIFIED BY '{{ mariadb_application_password }}';
EOF | mysql --user=root --password={{ mariadb_root_password }}

zcat ${backupFile} | mysql --user=codekvast --password={{ mariadb_application_password }} --database=codekvast
