---
- name: Install OpenJDK
  package: name={{ item }} state=present
  with_items:
  - openjdk-8-jdk
  - openjdk-8-source
  - openjdk-8-doc

- name: Install git and curl
  package: name={{ item }} state=present
  with_items:
  - git
  - git-crypt
  - curl

- name: Uninstall nodejs-legacy
  package: name=nodejs-legacy state=absent

- name: Define NodeJS APT source
  shell: curl -sL https://deb.nodesource.com/setup_6.x | bash -
  args:
    creates: /etc/apt/sources.list.d/nodesource.list

- name: Install NodeJS
  package: name={{ item }} state=latest
  with_items:
  - nodejs
  - build-essential

- name: Install gradlew finder
  template: src=gradlew-finder.sh dest=/usr/local/bin/gradle mode=a=rx

- name: Install Yarn APT key
  apt_key: url=https://dl.yarnpkg.com/debian/pubkey.gpg state=present

- name: Make sure Yarn APT source is defined
  apt_repository:
    filename: yarn
    repo: "deb https://dl.yarnpkg.com/debian/ stable main"
    state: present

- name: Install Yarn
  package: name=yarn state=present
