<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Not logged in.</h1>
        <p class="lead">
            You log in with <code>heroku addons:open codekvast</code> or by or clicking on Codekvast in the
            <a href="https://dashboard.heroku.com/apps/" target="_blank">Heroku Dashboard</a>.</p>
        <p>Codekvast is work in progress. More authentication methods will be added.</p>
        <p>For most up-to-date information, please visit <a href="http://www.codekvast.io" target="_blank">www.codekvast.io</a> &nbsp;<i
            class="fa fa-external-link"
            aria-hidden="true"></i>.</p>
    </div>
</div>
