<div class="container">
    <h2>Status</h2>
    <div class="d-flex flex-row align-items-start justify-content-between">

        <div *ngIf="state.data">
            <h4>Plan {{ state.data.pricePlan }} Limits</h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="w-50">Number of agents (max={{ state.data.maxNumberOfAgents }}):</td>
                    <td class="w-50">
                        <ngb-progressbar [showValue]="false"
                                         [type]="progressBarType(state.data.numLiveAgents, state.data.maxNumberOfAgents)"
                                         [value]="state.data.numLiveAgents"
                                         [max]="state.data.maxNumberOfAgents">
                            {{ agentsProgressValue() }}
                        </ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Number of methods (max={{ state.data.maxNumberOfMethods }}):</td>
                    <td>
                        <ngb-progressbar [showValue]="false"
                                         [type]="progressBarType(state.data.numMethods, state.data.maxNumberOfMethods)"
                                         [value]="state.data.numMethods"
                                         [max]="state.data.maxNumberOfMethods">
                            {{state.data.numMethods}}
                        </ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Collected since:</td>
                    <td>{{ state.data.collectedSinceMillis | ckAge:settings.dateFormat }}</td>
                </tr>
                <tr *ngIf="isTrialPeriod()">
                    <td>Trial period {{ state.data.maxCollectionPeriodDays}} days ends:</td>
                    <td>
                        {{ trialPeriodEndDate() | ckAge:settings.dateFormat }}
                        <ngb-progressbar [showValue]="false"
                                         [type]="progressBarType(state.data.collectedDays, state.data.maxCollectionPeriodDays)"
                                         [value]="state.data.collectedDays"
                                         [max]="state.data.maxCollectionPeriodDays">
                            {{ trialPeriodProgress() }}%
                        </ngb-progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Collection resolution:</td>
                    <td>{{ collectionResolution() }}</td>
                </tr>
            </table>
        </div>
        <div class="d-flex flex-column">
            <ck-settings-editor></ck-settings-editor>
            <div class="input-group">
                <span class="input-group-addon">Auto-refresh every</span>
                <input class="form-control"
                       id="refreshInterval"
                       type="number"
                       min="10"
                       max="3600"
                       [(ngModel)]="state.refreshIntervalSeconds"
                       (change)="state.updateRefreshTimer()"/>
                <span class="input-group-addon">s</span>
                <span class="input-group-btn">
                    <button class="btn" (click)="state.toggleAutoRefresh()" title="{{state.autoRefreshButtonText()}}">
                        <i [ngClass]="state.toggleAutoRefreshButtonClasses()" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
            <div *ngIf="state.data">
                <small class="ml-2 col-form-label form-text text-muted">{{ state.data.timestamp | ckAge:settings.dateFormat }} Refreshed
                                                                        status in {{ state.data.queryTimeMillis }} ms
                </small>
            </div>

            <div *ngIf="state.errorMessage">
                <small class="ml-2 col-form-label form-text text-muted" title="{{ state.errorMessage }}">{{ communicationFailure() }}
                </small>
            </div>
        </div>
    </div>

    <div *ngIf="state.data">
        <h4>Agents</h4>
        <input id="showTerminatedAgents" type="checkbox" [(ngModel)]="state.showTerminatedAgents">
        <label class="ml-1" for="showTerminatedAgents">Show terminated agents</label>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Application</th>
                <th>Agent version</th>
                <th>Started at</th>
                <th>Data received at</th>
                <th>Next expected at</th>
                <th>Comments</th>
            </tr>
            <tr *ngFor="let agent of state.getFilteredAgents()">
                <td>{{ agent.appName }} {{ agent.appVersion}}</td>
                <td>{{ agent.agentVersion }}</td>
                <td>{{ agent.startedAtMillis | ckAge:settings.dateFormat }}</td>
                <td>{{ agent.publishedAtMillis | ckAge:settings.dateFormat }}</td>
                <td>
                    <span [ngClass]="agentExpectedAtClasses(agent)">{{ agent.nextPublicationExpectedAtMillis | ckAge:settings.dateFormat }}</span>
                </td>
                <td>{{ getComments(agent) }}</td>
            </tr>
        </table>
        <h4>Users</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Email</th>
                <th>Source</th>
                <th>Number of logins</th>
                <th>First login at</th>
                <th>Last login at</th>
                <th>Last activity at</th>
            </tr>
            <tr *ngFor="let user of state.data.users">
                <td>{{ user.email }}</td>
                <td>{{ user.lastLoginSource }}</td>
                <td class="text-right">{{ user.numberOfLogins }}</td>
                <td>{{ user.firstLoginAtMillis | ckAge:settings.dateFormat }}</td>
                <td>{{ user.lastLoginAtMillis | ckAge:settings.dateFormat }}</td>
                <td>{{ user.lastActivityAtMillis | ckAge:settings.dateFormat}}</td>
            </tr>
        </table>
    </div>
</div>
