.ng-cloak {
    display: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

#logotype {
    height: 20%;
    width: 20%;
}

#banner {
    background-image: url("../img/java-code.png");
    background-repeat: repeat-x;
    height: 220px;
}

.row.full-width {
/ / Override the standard left and right margins
}

.top-row h1 {
    font-size: 400%;
}

#banner h1, h2 {
    color: white;
}

#banner h2 {
    font-size: 130%;
    margin-top: -0.2em;
    margin-bottom: 2em;
}

.huge-icon {
    height: 180px;
    width: 180px;
}
