.ng-cloak {
    display: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

a:hover {
    cursor: hand;
}

#logotype {
    height: 85px;
    width: 240px;
}

.lt-640 #logotype {
    height: 44px;
    width: 158px;
    margin-top: 2em;
    margin-right: -2em;
}

.lt-640 #logotype {
    margin-top: 1.5em;
    margin-right: -2em;
}

.top-row h1 {
    font-size: 400%;
}

.lt-480 .top-row h1 {
    font-size: 200%;
    margin-top: 1em;
}

#banner {
    background-image: url("../img/java-code.png");
    background-repeat: repeat-x;
    height: 15em;
}

.lt-640 #banner {
    height: 19em;
}

.lt-569 #banner {
    height: 23em;
}

.lt-480 #banner {
    height: 27em;
}

.row.full-width {
    /* Override the standard left and right margins */
}

.slogan {
    color: white;
}

.lt-640 .slogan-separator {
    display: none;
}

.lt-640 .secondary-slogan {
    background-color: #222;
    border-radius: 10px;
    padding: 5px;
}

#banner h4 {
    margin: 0 0;
}

#banner h3 {
    margin-top: 0.6em;
    margin-bottom: 0.7em;
}

img.huge-icon {
    height: 120px;
    width: 120px;
    margin-top: 2em;
    margin-left: 3em;
}

.lt-1000 img.huge-icon {
    height: 80px;
    width: 80px;
}

.lt-640 img.huge-icon {
    height: 40px;
    width: 40px;
    margin-left: 1em;
}

.lt-480 img.huge-icon {
    height: 30px;
    width: 30px;
    margin-left: .5em;
}

h1.window-title {
    display: none;
}

input#email {
    width: 15em;
}

.lt-480 input#email {
    width: 12em;
}

#registerForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
