html, body {
    height: 100%;
}

#container {
    height: 100%;
}

#top-nav {
    margin-left: 0;
    margin-bottom: 2em;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer li {
    border-left: 1px solid darkblue;
}
