html, body {
    height: 100%;
    overflow: hidden !important;
}

#ck-app {
    height: 100% !important;
}

#top-nav {
    margin-left: 0;
    margin-bottom: 2em;
}

#main-section {
    height: 100%;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer li {
    border-left: 1px solid darkblue;
}
