/*
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
*/

#container {
    height: 100%;
    border-collapse: collapse;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer li {
    border-left: 1px solid darkblue;
}
