html,
body {
    height: 100%;
}

div#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header.integration-menu-heroku {
    margin-top: 38px;
}

header {
    margin-bottom: 2em;
}

main {
    height: 100%;
    overflow: auto;
}

footer li {
    border-left: 1px solid darkblue;
}
