/*
#container > div.row > div {
    border: 1px solid darkblue;
}
*/
table#search-results {
    padding-left: 1em;
    width: 75%;
    table-layout: fixed;
}

.wrap-word{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.signature-column {
    width: 86%;
}

.age-column {
    width: 12%;
}

.icon-column {
    width: 2%;
}

#method-collection-overview {
    height: 25em;
    position: fixed;
    left: 75%;
    margin-left: 1em;
    top: 15.5em;
}
