<div *ngIf="method">
    <p><b>Collected Days: </b>{{ method.collectedDays }}</p>
    <p><b>Collected Since: </b>{{ method.collectedSinceMillis | ckAge }}</p>
    <p><b>Collected To: </b>{{ method.collectedToMillis | ckAge }}</p>
    <p><b>Last Invoked: </b>{{ method.lastInvokedAtMillis | ckAge }}</p>
    <p><b>Last Invoked Age: </b>{{ method.lastInvokedAtMillis | ckAge:'age' }}</p>

<!--
    tags: string[];
    collectedInEnvironments: Environment[];
    occursInApplications: Application[];
-->

</div>
