#content {
    height: 100%;
}

#search-results {
    float: left;
    width: 75%;
    height: 100%;
    overflow: auto;
    /*table-layout: fixed;*/
}


#method-details {
    float: left;
    width: 25%;
    height: 100%;
    overflow: auto;
}

.wrap-word{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.signature-column {
    width: 86%;
}

.age-column {
    width: 14%;
}
