div.wrapper {
    overflow: hidden;
}

.content {
    overflow: hidden;
}

.content div {
    overflow: auto;
}

.content div#methods-table {
    flex: 2;
}

.content div#details-table {
    flex: 1;
    margin-left: 2em;
}

.wrap-word {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.signature-column {
    width: 87%;
}

.age-column {
    width: 13%;
}

.row-icon-column {
    width: 2em;
}

#details-table .table-active {
    height: 6em;
}