<div class="wrapper d-flex flex-column h-100">
<div id="search-form" class="container mt-5">
    <form (ngSubmit)="state.search()" #searchForm="ngForm">
        <div class="form-group row">
            <label for="signature" class="col-2 col-form-label">Signature</label>
            <div class="col-6">
                <input class="form-control"
                       id="signature"
                       name="signature"
                       [(ngModel)]="state.signature"
                       type="text"
                       placeholder="Search method signature">
            </div>
        </div>
        <div class="form-group row">
            <label for="maxResults" class="col-2 col-form-label">Max&nbsp;Results</label>
            <div class="col-2">
                <input class="form-control" id="maxResults" name="maxResults" [(ngModel)]="state.maxResults" type="number" min="1" max="10000">
            </div>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!searchForm.form.valid">Search
            </button>

            <div *ngIf="state.data">
                <small class="ml-2 col-form-label form-text text-muted">{{ state.data.timestamp | date:'shortTime' }}: Found {{ state.data.numMethods }}
                                                                        methods in {{ state.data.queryTimeMillis }} ms
                </small>
            </div>

            <div *ngIf="state.errorMessage">
                <small class="ml-2 col-form-label form-text text-muted" title="{{ state.errorMessage }}">{{ communicationFailure() }}</small>
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-row h-100 content mx-4">
    <div id="methods-table">
        <table class="table table-responsive table-striped table-bordered table-hover table-sm" (mouseleave)="state.selectMethod(null)">
            <thead>
            <tr>
                <th class="signature-column" (click)="state.sortBySignature()">Signature <i [ngClass]="state.headerIconClassesSignature()"
                                                                                      aria-hidden="true"></i></th>
                <th class="age-column" (click)="state.sortByAge()">Last Invoked <i [ngClass]="state.headerIconClassesAge()" aria-hidden="true"></i></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let method of state.sortedMethods()" (mouseenter)="state.selectMethod(method)" [class.table-active]="state.isSelectedMethod(method)">
                <td class="signature-column wrap-word">{{ method.signature }}</td>
                <td class="age-column wrap-word" title="{{ method.lastInvokedAtMillis | ckAge:'short' }}">
                    {{ method.lastInvokedAtMillis | ckAge:state.dateFormat }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="details-table">
        <ng-container *ngIf="state.selectedMethod">
            <p><b>Signature: </b><span class="wrap-word">{{ state.selectedMethod.signature }}</span></p>
            <p><b>Last Invoked: </b>{{ state.selectedLastInvoked() }}</p>
            <p><b>Collected days: </b>{{ state.selectedMethod.collectedDays}}</p>
            <p><b>Appears in environments (collected days): </b> {{ state.selectedAppearsInEnvironments() }}</p>
            <p><b>Appears in applications: </b>{{ state.selectedAppearsInApplications() }}</p>
        </ng-container>
    </div>
</div>
</div>