<div class="container">
    <h1>Search Methods</h1>
    <form (ngSubmit)="search()" #searchForm="ngForm">

        <div class="form-group col-lg-10">
            <label for="signature">Signature</label>
            <input id="signature" name="signature" [(ngModel)]="signature" type="text" class="form-control">
        </div>

        <div class="form-group col-lg-2">
            <label for="maxResults">Max Results</label>
            <input id="maxResults" name="maxResults" [(ngModel)]="maxResults" type="number" min="1" max="10000" class="form-control">
        </div>

        <div class="form-group col-lg-1">
            <button type="submit" class="form-control btn btn-default" [disabled]="!searchForm.form.valid">Search</button>
        </div>
    </form>
</div>

<h2 *ngIf="errorMessage">{{errorMessage}}</h2>

<div *ngIf="data" class="container">
    <h2>Search Results</h2>
    <p>Found {{data.numMethods}} methods in {{data.queryTimeMillis}} ms</p>
    <table>
        <tr>
            <th>Signature</th>
            <th>Last Invoked At</th>
            <th>Collected Since</th>
            <th>Collected To</th>
            <th>Collected Days</th>
        </tr>
        <tr *ngFor="let method of data.methods">
            <td>{{method.signature}}</td>
            <td>{{method.lastInvokedAtMillis | ckAge:dateFormat}}</td>
            <td>{{method.collectedSinceMillis | ckAge:dateFormat}}</td>
            <td>{{method.collectedToMillis | ckAge:dateFormat}}</td>
            <td>{{method.collectedDays }}</td>
        </tr>
    </table>
</div>
