<div id="container" class="container-fluid">
    <form (ngSubmit)="search()" #searchForm="ngForm">
        <div class="form-group row">
            <label for="signature" class="col-2 col-form-label">Signature</label>
            <div class="col-6">
                <input class="form-control"
                       id="signature"
                       name="signature"
                       [(ngModel)]="signature"
                       type="text"
                       placeholder="Search method signature">
            </div>
        </div>
        <div class="form-group row">
            <label for="maxResults" class="col-2 col-form-label">Max&nbsp;Results</label>
            <div class="col-2">
                <input class="form-control" id="maxResults" name="maxResults" [(ngModel)]="maxResults" type="number" min="1" max="10000">
            </div>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!searchForm.form.valid">Search
            </button>
            <div *ngIf="data">
                <small class="ml-2 col-form-label form-text text-muted">Found {{data.numMethods}} methods in {{data.queryTimeMillis}} ms
                </small>
            </div>
        </div>
    </form>

    <div *ngIf="errorMessage">{{errorMessage}}</div>

    <div *ngIf="sortedMethods()" class="row">
        <div class="col">
            <table id="search-results" class="table table-responsive table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th (click)="sortBySignature()">Signature</th>
                    <th (click)="sortByAge()">Invocation&nbsp;Age</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let method of sortedMethods()">
                    <td>{{method.signature}}</td>
                    <td>{{method.lastInvokedAtMillis | ckAge:dateFormat}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

