main {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.content div {
    overflow: auto;
}

.content div#methods-table {
    flex: 2;
}

.content div#details-table {
    flex: 1;
    margin-left: 2em;
}

.wrap-word {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.signature-column {
    width: 86%;
    min-width: 86%;
}

.age-column {
    width: 14%;
    max-width: 14%;
}
