<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> <img src="/assets/logo-ck-164x217.png" width="50" height="60" class="d-inline-block align-top" alt="logotype"> </a>
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="#">Home </a>
        <a class="nav-item nav-link active" href="#">Link 1 <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Link 2</a>
        <a class="nav-item nav-link" href="#">Link 3</a>
    </div>
</nav>