<div class="container" id="top-nav">
    <div class="row align-items-end">
        <div class="col-1">
            <a routerLink=""> <img src="/assets/logo-feathers-60x104.png" class="img-fluid" alt="logotype"></a>
        </div>
        <div class="col-4">
            <h1>Codekvast</h1>
            <p class="small" class="text-muted">The True Dead Code Detector</p>
        </div>
        <div class="col-7">
            <nav class="nav nav-tabs">
                <a routerLink="/methods" class="nav-link active">Methods</a> <a routerLink="/status" class="nav-link">Status</a>
            </nav>
        </div>

    </div>
</div>
