{{>layout/header}}

{{#callbackUrl}}
<h2>{{customerName}} Heroku details</h2>
<p>Callback URL: <code class="ml-3">{{{callbackUrl}}}</code></p>
<p>Access token: <code class="ml-3">-H 'Authorization: Bearer {{{accessToken}}}'</code></p>
{{/callbackUrl}}

{{^callbackUrl}}
<div class="alert alert-danger" role="alert">Cannot get Heroku details for {{customerName}}</div>
{{/callbackUrl}}

<p><a href="javascript:window.history.back()">Back to Heroku projects</a></p>

<hr>
<p><a href="/userinfo">All projects</a></p>
<hr>
<form class='form' method='POST' action='/logout'>
    <button>Log in as another user</button>
</form>
{{>layout/footer}}
