<div class="container">
  <h2>Status</h2>
  <div class="d-flex flex-row align-items-start justify-content-between">

    <h5 *ngIf="!state.data" class="text-secondary text-muted">Waiting for status data...</h5>

    <div *ngIf="state.data">
      <h4>Plan {{ state.data.pricePlan }} Limits</h4>
      <table class="table table-striped table-bordered">
        <tr>
          <td class="w-50">Number of {{ getAgentsLabel() }} (max={{ state.data.maxNumberOfAgents
            }}):
          </td>
          <td class="w-50">
            {{ agentsProgressValue() }}<br>
            <ngb-progressbar [showValue]="true"
                             [type]="progressBarType2(state.data.numLiveAgents, state.data.maxNumberOfAgents)"
                             [value]="toPercent(state.data.numLiveAgents, state.data.maxNumberOfAgents)"></ngb-progressbar>
          </td>
        </tr>
        <tr>
          <td>Number of methods (max={{ state.data.maxNumberOfMethods }}):</td>
          <td>
            {{state.data.numMethods}}<br>
            <ngb-progressbar [showValue]="true"
                             [type]="progressBarType2(state.data.numMethods, state.data.maxNumberOfMethods)"
                             [value]="toPercent(state.data.numMethods, state.data.maxNumberOfMethods)">

            </ngb-progressbar>
          </td>
        </tr>
        <tr *ngIf="state.data.retentionPeriodDays > 0">
          <td>Retention period:</td>
          <td>{{ state.data.retentionPeriodDays }} days</td>
        </tr>
        <tr>
          <td>Collected since:</td>
          <td>{{ state.data.collectedSinceMillis | ckAge:settings.dateFormat }}</td>
        </tr>
        <tr *ngIf="state.data.trialPeriodEndsAtMillis">
          <td>Trial period ends:</td>
          <td>
            {{ state.data.trialPeriodEndsAtMillis | ckAge:settings.dateFormat }}<br>
            <ngb-progressbar [showValue]="false"
                             [type]="progressBarType(state.data.trialPeriodPercent)"
                             [value]="state.data.trialPeriodPercent">
              {{ trialPeriodProgressText(state.data.trialPeriodPercent) }}
            </ngb-progressbar>
          </td>
        </tr>
        <tr>
          <td>Collection resolution:</td>
          <td>{{ collectionResolution() }}</td>
        </tr>
      </table>
    </div>
    <div class="d-flex flex-column">
      <app-settings-editor></app-settings-editor>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Auto-refresh every</span>
        </div>
        <input class="form-control"
               id="refreshInterval"
               type="number"
               required
               min="10"
               max="3600"
               [(ngModel)]="state.refreshIntervalSeconds"
               (change)="state.updateRefreshTimer()"/>
        <div class="input-group-append">
          <span class="input-group-text">s</span>
          <span class="input-group-btn">
                        <button class="btn" (click)="state.toggleAutoRefresh()"
                                title="{{state.autoRefreshButtonText()}}">
                            <i [ngClass]="state.autoRefreshButtonClasses()" aria-hidden="true"></i>
                        </button>
                    </span>
        </div>
      </div>
      <div *ngIf="state.data">
        <small class="ml-2 col-form-label form-text text-muted">{{ state.data.timestamp |
          ckAge:settings.dateFormat }} Refreshed
          status in {{ state.data.queryTimeMillis }} ms
        </small>
      </div>

      <div *ngIf="state.errorMessage" class="alert alert-danger" role="alert"
           title="{{ state.errorMessage }}">
        {{ state.communicationFailure() }}
      </div>
    </div>
  </div>

  <ng-template #regexpHints>
    <p>The field accepts a regular expression</p>
  </ng-template>

  <div *ngIf="state.data">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" destroyOnHide="false">
      <ng-container ngbNavItem>
        <a ngbNavLink><h5>Environments</h5></a>
        <ng-template ngbNavContent>
          <table class="mt-3 table table-striped table-bordered">
            <thead>
            <tr>
              <th class="align-top">
                Environment<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.environments"
                         placeholder="Filter by environment">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>

              <th>Enabled</th>
              <th>Updated&nbsp;by</th>
              <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let env of state.getFilteredEnvironments()">
              <td>{{ env.name }}</td>
              <td>{{ env.enabled }}</td>
              <td>{{ env.updatedBy }}</td>
              <td>{{ env.notes }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink><h5>Applications</h5></a>
        <ng-template ngbNavContent>
          <table class="mt-3 table table-striped table-bordered">
            <thead>
            <tr>
              <th class="align-top">
                Application<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.applications"
                         placeholder="Filter by application">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">
                Environment<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.environments"
                         placeholder="Filter by environment">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">Collected since</th>
              <th class="align-top">Data received at</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let app of state.getFilteredApplications()">
              <td>{{ app.appName }}</td>
              <td>{{ app.environment }}</td>
              <td>{{ app.collectedSinceMillis | ckAge:settings.dateFormat }}</td>
              <td>{{ app.collectedToMillis | ckAge:settings.dateFormat }}</td>
            </tr>
            </tbody>
          </table>

        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink><h5>{{ getAgentsLabel() }}</h5></a>
        <ng-template ngbNavContent>
          <div class="mt-3 form-inline mb-2" [class.invisible]="state.numTerminatedAgents() === 0">
            <input id="showTerminatedAgents" type="checkbox"
                   [(ngModel)]="state.showTerminatedAgents">
            <label class="ml-1" for="showTerminatedAgents">Show&nbsp;
              <span
                title="The number of terminated agents that pass the filters below">{{ state.numTerminatedFilteredAgents() }}</span>
              (<span
                title="The total number of terminated agents">{{ state.numTerminatedAgents() }}</span>)
              terminated {{
              getAgentsLabel() }}</label>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th class="align-top">
                Application<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.applications">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">
                Version<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.versions">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">
                Environment<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.environments">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">
                Host<br>
                <div class="input-group">
                  <input class="form-control form-control-sm" size="8" type="text"
                         [(ngModel)]="state.searchState.hostnames">
                  <div class="input-group-append">
                                <span class="input-group-text font-italic"
                                      container="body"
                                      [ngbPopover]="regexpHints"
                                      popoverTitle="Regular Expression"
                                      triggers="mouseenter:mouseleave"
                                      placement="right"><small>RE</small></span>
                  </div>
                </div>
              </th>
              <th class="align-top">Started at</th>
              <th class="align-top">Data received at</th>
              <th class="align-top">Next expected at</th>
              <th class="align-top">Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of state.getVisibleAgents()">
              <td>{{ agent.appName }}</td>
              <td ngbPopover="{{ agent.agentVersion }}"
                  popoverTitle="Agent Version"
                  triggers="mouseenter:mouseleave"
                  placement="top"
                  container="body">{{ agent.appVersion}}
              </td>
              <td>{{ agent.environment }}</td>
              <td>{{ agent.hostname }}</td>
              <td>{{ agent.startedAtMillis | ckAge:settings.dateFormat }}</td>
              <td>{{ agent.publishedAtMillis | ckAge:settings.dateFormat }}</td>
              <td>
                                <span
                                  [ngClass]="agentUploadExpectedAtClasses(agent)">{{ agent.nextPublicationExpectedAtMillis | ckAge:settings.dateFormat }}</span>
              </td>
              <td>{{ getComments(agent) }} <i [ngClass]="commentClasses(agent)"></i></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
