server:
    port: 8082

management:
    endpoints:
        jmx.domain: CodekvastAdmin
        web.base-path: /management
    server:
        port: 9082
        servlet.context-path: /
spring:
    mail:
        host: smtp.gmail.com
        port: 465
        username: some-username
        password: some-password
        test-connection: false
        properties.mail.smtp:
            auth: true
            starttls:
                enable: true
                required: true
            ssl.enable: true
    boot.admin.notify:
        mail:
            enabled: false
            to: 'codekvast-support@hit.se'
            from: "Codekvast Admin [dev] <noreply@localhost>"
        slack:
            enabled: false
            webhook-url: 'https://hooks.slack.com/services/XXXX/YYYY/ZZZZ'
            channel: alarms
