#
# {{ ansible_managed }}
#

#
# Replication slave

[mysqld]
server_id={{ mysql_server_id }}
{% if mysql_slave_readonly %}
read-only
{% endif %}

# --> Ignore DB/tables
{% if not mysql_slave_replicate_mysqldb %}
replicate-ignore-db=mysql
{% endif %}
{% for db in mysql_slave_ignore_db %}
replicate-ignore-db={{ db }}
{% endfor %}
{% for t in mysql_slave_ignore_table %}
replicate-ignore-table={{ t }}
{% endfor %}
# <-- Ignore DB/tables

; vim: set ft=dosini :
