div.wrapper {
    overflow: hidden;
}

.content {
    overflow: hidden;
}

.content div {
    overflow: auto;
}

.content div#methods-table {
    flex: 66;
}

.content div#methods-table.details-table-hidden {
    flex: 99;
}

.content div#details-table-toggle {
    flex: 1;
    padding-top: .5em;
    padding-left: 2px;
    padding-right: 5px;
    background-color: lightgrey;
}

.content div#details-table {
    flex: 33;
}

.content div#details-table.details-table-hidden {
    display: none;
}

.wrap-word {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.signature-column {
    width: 72%;
}

.details-table-visible .signature-column {
    width: 69%;
}

.collected-days-column {
    width: 11%;
}

.age-column {
    width: 17%;
}

.date-column {
    width: 10em;
}

.row-icon-column {
    width: 2em;
}

#details-table .table-active {
    height: 6em;
    width: 100%;
}

.w-80 {
    width: 80%!important;
}

.w-20 {
    width: 20%!important;
}

.form-inline .col-form-label {
    width: 7.5em;
    display: inline;
}