<hr class="my-4">

<div id="{{ featureName}}-voter">
    <p>The {{ featureName }} feature is not yet implemented. Please tell us if it is a good idea to build it or not.</p>
    <p>
        <button class="vote-yes btn btn-primary" (click)="state.doVote(true)" [disabled]="state.hasVoted()">
            Yes, I want a {{ featureName }} feature!
        </button>
        <span *ngIf="state.hasVotedFor(true)" class="text-muted ml-3">Thank you for the feedback!</span>
    </p>

    <p>
        <button class="vote-no btn btn-secondary" (click)="state.doVote(false)" [disabled]="state.hasVoted()">
            No, I don't need a {{ featureName }} feature.
        </button>
        <span *ngIf="state.hasVotedFor(false)" class="text-muted ml-3">Thank you for the feedback!</span>
    </p>

    <p [class.invisible]="!state.hasVoted()">
        <button class="vote-reset btn btn-secondary btn-sm" (click)="state.resetVote()">
            I have changed my mind. I want to vote again.
        </button>
    </p>

</div>
