doctype html
html
  include header.jade
  body(onload="prettyPrint()")
    div#wrap
      include menu.jade
      div.container

        div.page-header
          h1 Blog Archive

          each post in posts
            if formatter.format(post.date,"MMMM yyyy") != last_month
              h3 #{formatter.format(post.date,"MMMM yyyy")}

            h4 #{formatter.format(post.date,"dd")} -
              a(href='#{post.uri}') #{post.title}

            - var last_month = formatter.format(post.date,"MMMM yyyy")

  include footer.jade
