div#push

div#footer
  div.container
    p(class="muted credit") &copy; 2014 | Mixed with <a href="http://getbootstrap.com/">Bootstrap v3.1.1</a> | Baked with <a href="http://jbake.org">JBake <span>#{version}</span></a>

script(src='#{content.rootpath}js/jquery-1.11.1.min.js')
script(src='#{content.rootpath}js/bootstrap.min.js')
script(src='#{content.rootpath}js/prettify.js')
