This is WELCOME_COLLECTION_HAS_STARTED.

Welcome {{email}}!

This mail proves that you have configured the Codekvast Java Agent correctly, and that it is able to upload data to
the Codekvast server.

